/* ----- Search Bar ----- */

#search-bar {
    height: 70px;
}

#search-btn {
    height: 70px;
    width: 70px;
}

/* ----- Right side Nav ----- */

#contact-link,
#shopping-btn,
#account-dropdown {
    margin-top: 12px;
}

/* Navbar lower links */

.domain-link,
.service-link {
    font-size: 20px;
}